@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(56, 50, 50);
    margin: 20px;
}

h1 {
    color: aqua;
    font-size: 60px;
    align-items: center;
    padding-left: 40px;
}

h2 {
    color: rgb(0, 108, 113);
    margin-top: 20px;
}

h4 {
    color: rgb(0, 0, 0);
    padding: 20px 20px 0px 20px;
}

div {
    color: rgb(0, 0, 0);
    padding: 00px 20px 0px 20px;
}

.list {
    width: 90%;
    max-width: 30rem;
    height: 10%;
    max-height: 2rem;
}

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.accordion label {
    width: 100%;
    background-color: aqua;
    font-size: 1.6rem;
    padding: 1.4rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 150ms;
    position: relative;
    z-index: 2;
}

.accordion label:hover {
    transform: scale(1.02);
}

.accordion label img {
    width: 1.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -50%);
    transition: 350ms all;
}

.accordion input:checked~label img {
    transform: translate(0, -50%) rotate(180deg);
}

.accordion input:checked~.content {
    height: auto;
    opacity: 1;
    transform: translate(0, 0);
}

.accordion input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.accordion .content {
    color: aliceblue;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 1rem 1rem;
    position: relative;
    z-index: 1;
    transform: translate(0, -20%);
    font-size: 1rem;
    height: 0;
    opacity: 0;
    transition: 350ms all;
    overflow: hidden;
}

.accordion .content p {
    padding: 2rem;
    margin: 0;
}
