@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@900&family=Source+Code+Pro:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 20px;
}

h1 {
    color: aqua;
    font-size: 60px;
    transition: steps(12), 0.5s;
}

h3 {
    margin-top: 50px;
    color: aqua;
    font-size: 35px;
}

h4 {
    margin-top: 20px;
    color: rgb(255, 0, 140);
    font-size: 25px;
}

em {
    color: aqua;
}

code {
    color: aqua;
}

.content {
    color: aqua;
    font-size: 30px;
}

.undercontent {
    color: rgb(0, 255, 34);
    padding-left: 30px;
}

strong {
    color: aqua;
}

.commentare {
    color: rgb(0, 159, 13);
    /*position: relative;*/
    position: sticky;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 255, 34);
    font-size: 20px;
}

a:hover {
    transition: all, 0.2s;
    color: rgb(0, 159, 13);
}

.underpoints {
    text-decoration: none;
    color: rgb(255, 0, 140);
    font-size: 15px;
    cursor: pointer;
}

.underpoints:hover {
    transition: all, 0.2s;
    color: red;
}

.underunderpoints {
    text-decoration: none;
    color: rgb(0, 0, 255);
    font-size: 15px;
    cursor: pointer;
}

.underunderpoints:hover {
    transition: all, 0.2s;
    color: rgb(18, 0, 158);
}

/*dark mode css*/

input[type="checkbox"] {
    background-color: aliceblue;
    display: none !important;
    visibility: hidden;
}

input[type="checkbox"]:checked~.checkForDarkmode {
    background-color: #fff;
    z-index: -1;
    box-shadow: 0 0 0 120000px rgb(0, 0, 0);
}

input[type="checkbox"]:checked~.checkForDarkmode::before {
    transform: translateX(-50px);
}

input[type="checkbox"]:checked~.checkForDarkmode::after {
    transform: translateX(0px);
}

input[type="checkbox"]:checked~.check::before {
    transform: translateX(-50px);
}

input[type="checkbox"]:checked~.check::after {
    transform: translateX(0px);
}


.checkForDarkmode {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

.checkForDarkmode::before {
    cursor: pointer;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

.checkForDarkmode::after {
    cursor: pointer;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

.I {
    animation: animations 1.4s steps(24) infinite;
}

@keyframes animations {

    0%,
    90%,
    100% {
        color: #000;
    }

    40%,
    50% {
        color: #fff;
    }
}