@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    overflow: hidden;
}

.container {
    width: 400px;
    overflow: hidden;
}

.absatz {
    position: relative;
    color: #40e5f4;
}

.container .text {
    position: relative;
    color: #40e5f4;
    font-size: 30px;
    font-weight: 600;
}

.container .text.first-text {
    color: aliceblue;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212121;
    border-left: 2px solid #40e5f4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

/*--------------------------Subscribe Anim-------------------------------------*/
.container1 {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.container1 .box i {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #00e1ff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container1 i:hover {
    color: #000;
}

.container1 .box {
    background: #474747;
    display: flex;
    padding: 15px, 25px, 15px, 15px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: show_box 0.8s ease forwards;
}

@keyframes show_box {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

#hide:checked~.box {
    animation: hide_box 0.8s ease forwards;
}

@keyframes hide_box {
    0% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(100% + 35px));
    }
}

.box .right {
    display: flex;
    flex-direction: column;
}

.container1 .logo {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.container1 .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.box .right .text-1 {
    font-size: 18px;
    font-weight: 600;
    color: aqua;
}

.box .right .text-2 {
    font-size: 14px;
    color: aqua;
    margin: 2px 0 8px 0;
    padding: 0px 10px 0px 0px;
}

.box .right a {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 6px 0;
    background: aqua;
    border-radius: 6px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.box .right a:hover {
    background-color: #03bde2;
}

.container1 #hide {
    display: none;
}