html{
    background-color: rgb(34, 65, 66);
}

body{
    width: 700px;
    max-width: 90%;

    margin: 0 auto;
}

h1{
    color: azure;

    text-align: center;
    text-decoration: underline;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;

    border-style: solid;
    border-width: 5px;
    border-color: aquamarine;
    border-radius: 10px;
}

p{
    color: aliceblue;

    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;

    width: 300px;
    margin: 25px;
    padding: 10px;

    float: left;

    border: solid 5px white;
    border-radius: 15px;
}