* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #15191f;
    background-image: url("png/background.png");
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin-top: 8rem;
    color: #fff;
    font-size: 3rem;
}

h3 {
    color: #fff;
}

h4 {
    margin-top: 1.2rem;
    text-decoration: underline;
}

i {
    color: aqua;
}

code {
    color: aqua;
}

.menubar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: #0d0e1196;
    backdrop-filter: blur(0.25rem);
    padding: 28px 12%;
    transition: all 0.50s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    height: 4.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.menubar img {
    height: 2rem;
    width: auto;
    padding: 0;
    margin: 0;
}

.menubar a {
    color: #a4b1cd;
    transition: all 0.2s;
}

.menubar a:hover {
    color: #fff;
}

.content {
    color: #a4b1cd;
    text-align: center;
}

.choosemenu {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.contain {
    width: 40rem;
    height: auto;
    transition: all 0.4s;
    margin: 2.5rem;
    border: 2px solid #fff;
    padding: 1rem;
    background-color: #0d0e1195;
    border-radius: 1rem;
}

li {
    margin-top: 0.3vh;
}

.container {
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.window {
    width: 25rem;
    height: auto;
    transition: all 0.4s;
    margin: 2.5rem;
    border: 2px solid #fff;
    padding: 1rem;
}

.window:hover {
    transform: translateY(-8%);
    border: 4px solid aqua;
}

.window img {
    width: 50%;
    transition: all 2.5s;
}

.window:hover img {
    transform: rotateY(360deg);
}

a {
    text-decoration: none;
    color: #a4b1cd;
}

.account {
    background-color: aqua;
    height: 2rem;
    width: 4rem;
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.account a {
    color: #101a28;
}

.goto {
    color: #fff;
}

.goto:hover {
    color: aqua;
}

.footer {
    color: aqua;
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: #0d0e11d2;
    text-align: center;
    padding: 10px;
    border: 0.3rem double black;
    position: relative;
}

strong {
    color: aqua;
}


.typewriter h1 {
    border: 0 0 0 0;
    width: fit-content;
    display: flex;
    overflow: hidden;
    border-right: .15em solid rgb(0, 255, 247);
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(0, 255, 247);
    }
}